.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-pagination{
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
}
